[Unit]
Description=Forwards notifications from Discord through Telegram.
After=network-online.target
Requires=network-online.target

[Service]
WorkingDirectory=/usr/local/bin/discord-notify
ExecStart=/usr/local/bin/discord-notify/main
Restart=always

[Install]
WantedBy=multi-user.target
